@media only screen and (max-width:720px) {

    


    .carousel-inner{
        transition: .5s;
        margin-top: 100px;
    }
    


    .botonesredes{
        @include d_a_j_d(flex,none,none, column);
        gap: 20px;

}
}
