.piepagina {

    gap: 70px;
    background-color: white;
    height: 30%;
    @include d_a_j_d(flex, space-between, center, row);



}

.pie0 {
    @include d_a_j_d(flex, center, space-between, row);
    gap: 20px;

    img {
        @include formato_img(300px, 300px, cover);
    }

}

.pie1 {

    @include d_a_j_d(flex, flex-start, center, column);
    gap: 10px;

    img {
        @include formato_img(50px, 50px, cover);
    }

}

.pie2 {
    @include d_a_j_d(flex, center, center, column);
    gap: 10px;

    img {
        @include formato_img(50px, 50px, cover);
    }
}

.pie3 {

    text-align: center;
}